---
import Layout from "@/layouts/Base";
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	image="/blog-placeholder-about.jpg"
>
	<h1 class="title">About</h1>
	<p>
		Hi, I'm a Astro theme. I'm particularly great for starting a blog or a
		portfolio.
		<div>
			I was based on two other themes:
			<a
				class="cody-link"
				href="https://astro-theme-cactus.netlify.app"
				target="_blank"
				rel="noopener noreferrer">Astro Cactus</a
			>
			and
			<a
				class="cody-link"
				target="_blank"
				rel="noopener noreferrer"
				href="https://risotto.joeroe.io">Risotto</a
			>.
		</div>
	</p>

	<h2 class="title mt-4">Here are my built-in features:</h2>
	<ul class="list-inside list-disc">
		<li>Looks great on any device</li>
		<li>Fully Responsive</li>
		<li>Comes light and dark mode</li>
		<li>Easy to customize and add content</li>
		<li>Built with tailwindcss</li>
		<li>Pin posts and projects</li>
	</ul>
	<p class="mt-4">
		Clone or fork my
		<a
			class="cody-link inline-block"
			href="https://github.com/kirontoo/astro-theme-cody"
			target="_blank"
			rel="noopener noreferrer"
			aria-label="github repository"
		>
			repo
		</a>
		if you like me!
	</p>
</Layout>
