---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="group relative mb-8 flex items-center">
	<nav>
		<a class="title" href="/">{SITE_TITLE}</a>
		<div class="mt-4">
			<HeaderLink href="/" class="text-accent">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>

<style>
	.title {
		@apply bg-accent p-1 text-bgColor text-xl;
	}

	.title:before{
		content:"[";
	}

	.title:after {
		content:"]";
	}
</style>
