---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE, NAV_LINKS } from '../consts';
import ThemeToggle from '../components/ThemeToggle.astro';
---

<header class="group relative mb-8 flex items-center">
	<nav class="w-full">
		<div class="flex items-center justify-between">
			<a class="title" href="/">{SITE_TITLE}</a>
			<ThemeToggle/>
		</div>
		<div class="mt-4">
			{
				NAV_LINKS.map(nav => (
					<HeaderLink href={nav.path}>{nav.title}</HeaderLink>
				))
			}
		</div>
	</nav>
</header>

<style>
	.title {
		@apply bg-accent p-1 text-bgColor text-xl;
	}

	.title:before{
		content:"[";
		margin-right: 0;
	}

	.title:after {
		content:"]";
	}
</style>
