---
// TableOfContentsHeading.astro
const { heading } = Astro.props;
---

<li>
  <a href={'#' + heading.slug}>
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class="ml-2">
        {heading.subheadings.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>

<style>
  li:before {
    content: "#";
    @apply -mr-2 text-accent-2;
  }
</style>
