---
import type { CollectionEntry } from "astro:content";
import type { HTMLTag, Polymorphic } from "astro/types";
import FormattedDate from "@/components/FormattedDate";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	post: CollectionEntry<"post">;
	withDesc?: boolean;
};

const { post, as: Tag = "div", withDesc = false } = Astro.props;
const postDate = post.data.updatedDate ?? post.data.pubDate;
---

<li>
	<div class="flex flex-col gap-x-0 sm:flex-row sm:divide-x sm:divide-accent">
		<FormattedDate date={postDate} class="min-w-[120px] text-gray-600 dark:text-gray-400" pubDate />
		<span class="sm:before:ml-4">
			<a href={`/blog/${post.slug}/`} class="cody-link" data-astro-prefetch>
				{post.data.title}
			</a>
		</span>
	</div>
	{withDesc && ( <p class="italic">{post.data.description}</p> )}
</li>

