---
import type { CollectionEntry } from "astro:content";
import type { HTMLTag, Polymorphic } from "astro/types";
import FormattedDate from "@/components/FormattedDate";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	post: CollectionEntry<"post">;
	withDesc?: boolean;
};

const { post, as: Tag = "div", withDesc = false } = Astro.props;
const postDate = post.data.updatedDate ?? post.data.publishDate;
---
<li>
	<div class="inline-flex gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-accent">
		<p class="date pr-2">
			<FormattedDate date={post.data.pubDate} />
		</p>
		<a href={`/blog/${post.slug}/`} class="pl-2">
			<h4 class="cody-link font-bold" >{post.data.title}</h4>
		</a>
	</div>
	<p class="italic">{post.data.description}</p>
</li>

