---
import BaseHead from "@/components/BaseHead";
import Header from "@/components/Header";
import Footer from "@/components/Footer";
import { siteConfig } from "../consts.ts";
import { getLangFromUrl } from "@/utils";
import ui from "@/i18n/ui";

interface Props {
	title?: string;
	description?: string;
	image?: string;
}

const lang = getLangFromUrl(Astro.url);

const {
	title = siteConfig.title,
	description = ui[lang]["site.description"].text,
	image,
} = Astro.props;
---

<!doctype html>
<html lang={lang || Astro.currentLocale} class="dark">
	<head>
		<BaseHead title={title} description={description} image={image} />
	</head>
	<body>
		<Header />
		<main>
			<section class="cody-bg">
				<slot />
			</section>
		</main>
		<Footer />
	</body>
</html>
