---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts.ts";

interface Props {
		title?: string;
		description?: string;
		image?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION, image } = Astro.props;

---
<!doctype html>
<html lang="en" class="dark">
	<head>
		<BaseHead title={title} description={description} image={image} />
	</head>
	<body>
		<Header/>
		<main>
			<slot/>
		</main>
		</Footer/>
	</body>
</html
